<!DOCTYPE HTML>
<html>
	<head>
		<title>Help Me</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/autocorrect.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script src="js/autocorrect.js"></script>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
		<style>
      		#map {
        		width: 90%;
        		height: 400px;
        		margin: 0 auto;}
    	</style>
	</head>
	<body onload="init()">

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
					<a href='home.html'><div id='small-logo'></div></a>
						<div id="logo">
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="profile.html">Profile</a></li>
								<li><a href='settings.html'>Settings</a></li>
								<li><a href='/leaderboard'>Leaderboard</a></li>
								<li><a href='/index.html'>Log Out</a></li>
							</ul>
						</nav>
					</div>
					
					<!-- Geolocation and Map-->
					<div id="map"></div>
					<p id="error"></p>
					
					
					<script>
					var map;
					var x = document.getElementById("error");
					
					function init() {
					    if (navigator.geolocation) {
					        var geo = navigator.geolocation.getCurrentPosition(showPosition);
					    } else { 
					        x.innerHTML = "Geolocation is not supported by this browser.";
					    }
					}

					function showPosition(position) {
						var lat = position.coords.latitude;
						var lng = position.coords.longitude;
					    x.innerHTML = "Latitude: " + lat + "<br>Longitude: " + lng;

					    map = new google.maps.Map(document.getElementById('map'), {
							center: {lat: lat, lng: lng},
							zoom: 18
				        });

				        var currLoc = new google.maps.Marker({
						    position: {lat: lat, lng: lng},
						    map: map,
						    title: 'Your current location!'
						});
					}
					</script>
					
					<div id="banner" class="container">
						<section>
							<a href='/q_new'><div id='footer' class='wrapper style2' style='margin-top: 0'>Ask a new question!</div></a>
						</section>
					</div>

				<!-- Extra -->
					<div id="extra">
						<div class="container">
							<div class="row no-collapse-1">
								<section class="4u"> <a href="/q" class="image featured"><img src="images/pic01.jpg" alt=""></a>
									<div class="box">
										<p id="message1">Can somebody help explain the Monty Hall paradox to me? I would think that it should be equal either way...</p>
										
										<a href="/q" class="button">Read More</a><br><span class='tag'>probability</span><span class='tag'>statistics</span> </div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic02.jpg" alt=""></a>
									<div class="box">
										<p>I don't understand the HTML5 canvas drawing at all. One of the things I especially dont understand is...</p>
										
										<a href="/q" class="button">Read More</a> <br><span class='tag'>programming</span><span class='tag'>html</span></div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic03.jpg" alt=""></a>
									<div class="box">
										<p>How much ATP, FADH, and NADH is produced in the breakdown of fats or the cirtic cycle? It's very hard for....</p>
										
										<a href="/q" class="button">Read More</a> <br><span class='tag'>biology</span><span class='tag'>physiology</span></div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""></a>
									<div class="box">
										<p>Can someone explain the themes and symbols behind Deadpool to me? I'm writing a paper on it but I don't...</p>
										
										<a href="/q" class="button">Read More</a> <br><span class='tag'>english</span><span class='tag'>analysis</span></div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic02.jpg" alt=""></a>
									<div class="box">
										<p>Can someone help me do a pull up? My arms are too scrawny and I think I need someone to give me a boost...</p>
										
										<a href="/q" class="button">Read More</a> <br><span class='tag'>physical education</span></div>
										
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic03.jpg" alt=""></a>
									<div class="box">
										<p>I need help understanding accounting statements and statistics such as EBITDA and P/E ratio. What do they...</p>
										<a href="/q" class="button">Read More</a> <br>
										<span class='tag'>accounting</span></div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""></a>
									<div class="box">
										<p>Can someone explain the themes and symbols behind Deadpool to me? I'm writing a paper on it but I don't...</p>
										
										<a href="/q" class="button">Read More</a> <br><span class='tag'>english</span><span class='tag'>analysis</span></div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic02.jpg" alt=""></a>
									<div class="box">
										<p>Can someone help me do a pull up? My arms are too scrawny and I think I need someone to give me a boost...</p>
										
										<a href="/q" class="button">Read More</a> <br><span class='tag'>physical education</span></div>
										
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic03.jpg" alt=""></a>
									<div class="box">
										<p>I need help understanding accounting statements and statistics such as EBITDA and P/E ratio. What do they...</p>
										<a href="/q" class="button">Read More</a> <br>
										<span class='tag'>accounting</span></div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""></a>
									<div class="box">
										<p>Can someone explain the themes and symbols behind Deadpool to me? I'm writing a paper on it but I don't...</p>
										
										<a href="/q" class="button">Read More</a> <br><span class='tag'>english</span><span class='tag'>analysis</span></div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic02.jpg" alt=""></a>
									<div class="box">
										<p>Can someone help me do a pull up? My arms are too scrawny and I think I need someone to give me a boost...</p>
										
										<a href="/q" class="button">Read More</a> <br><span class='tag'>physical education</span></div>
										
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic03.jpg" alt=""></a>
									<div class="box">
										<p>I need help understanding accounting statements and statistics such as EBITDA and P/E ratio. What do they...</p>
										<a href="/q" class="button">Read More</a> <br>
										<span class='tag'>accounting</span></div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic01.jpg" alt=""></a>
									<div class="box">
										<p>Can someone explain the themes and symbols behind Deadpool to me? I'm writing a paper on it but I don't...</p>
										
										<a href="/q" class="button">Read More</a> <br><span class='tag'>english</span><span class='tag'>analysis</span></div>
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic02.jpg" alt=""></a>
									<div class="box">
										<p>Can someone help me do a pull up? My arms are too scrawny and I think I need someone to give me a boost...</p>
										
										<a href="/q" class="button">Read More</a> <br><span class='tag'>physical education</span></div>
										
								</section>
								<section class="4u"> <a href="#" class="image featured"><img src="images/pic03.jpg" alt=""></a>
									<div class="box">
										<p>I need help understanding accounting statements and statistics such as EBITDA and P/E ratio. What do they...</p>
										<a href="/q" class="button">Read More</a> <br>
										<span class='tag'>accounting</span></div>
								</section>
							</div>
						</div>
						<center><a href='/home' style='text-decoration: none'><span id='nextpage'>Next page >></span></a></center>
					</div>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRI318_aOYM3i8I7gogIvnbaB-el_S0Xo&callback=init" async defer></script>
	</body>
</html>