<!DOCTYPE HTML>
<html>
	<head>
		<title>Help Me</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/autocorrect.js"></script>
		<script src="js/autocorrect.js"></script>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link rel="stylesheet" href="css/style.css" />
		<style>
      		#map {
        		width: 100%;
        		right: 20%;
        		height: 100%;
        		margin: 0 auto;
        		position: absolute;
        		-webkit-transform: translate3d(0, 0, 0);
        	}
    	</style>
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed" style='-webkit-transform: translate3d(0, 0, 0) !important; position: fixed !important; -webkit-backface-visibility: hidden;'>
					<a href='home.html'><div id='small-logo'></div></a>
						<div id="logo">
						</div>
						<nav id="nav">
							<ul>
								<li class="active"><a href="#" id='profile'>Profile</a></li>
								<li><a href='settings.html'>Settings</a></li>
								<li><a href='/leaderboard.html'>Leaderboard</a></li>
								<li><a href='/index.html'>Log Out</a></li>
							</ul>
						</nav>
					</div>
					
					<!-- Map -->
					<div style='position: fixed; -webkit-transform: translate3d(0, 0, 0); width: 30%; right: 0; height: 750px'>
					<div id="map"></div>
					<p id="error"></p></div>

				<!-- Extra -->
					<div id="extra">
						<div class="container" style='width: 75%; position: static'>
						<div id="banner" class="container">
						<section>
							<a href='/q_new.html' style='text-decoration: none'><div id='footer' class='wrapper style2' style='margin-top: -200px; height: 25px; position: relative; margin-left: -35%'>Ask a new question!</div></a>
						</section>
					</div>
							<div class="row no-collapse-1">
								<section class="4u"> 
									<div class="box" id='box1'>
									<h2 id='title1'></h2>
										<p id="message1"></p>
										<a href="#" class="button" id='button1'>Read More</a><br><span id='tag1'></span></div>
								</section>
								<section class="4u"> 
									<div class="box" id='box2'>
									<h2 id='title2'></h2>
										<p id="message2"></p>
										<a href="#" class="button" id='button2'>Read More</a><br><span id='tag2'></span></div>
								</section>
								<section class="4u"> 
									<div class="box" id='box3'>
									<h2 id='title3'></h2>
										<p id="message3"></p>
										<a href="#" class="button" id='button3'>Read More</a><br><span id='tag1'></span></div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> 
									<div class="box" id='box4'>
									<h2 id='title4'></h2>
										<p id="message4"></p>
										<a href="#" class="button" id='button4'>Read More</a><br><span id='tag4'></span></div>
								</section>
								<section class="4u"> 
									<div class="box" id='box5'>
									<h2 id='title4'></h2>
										<p id="message5"></p>
										<a href="#" class="button" id='button5'>Read More</a><br><span id='tag5'></span></div>
								</section>
								<section class="4u"> 
									<div class="box" id='box6'>
									<h2 id='title6'></h2>
										<p id="message6"></p>
										<a href="#" class="button" id='button6'>Read More</a><br><span id='tag6'></span></div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> 
									<div class="box" id='box7'>
									<h2 id='title7'></h2>
										<p id="message7"></p>
										<a href="#" class="button" id='button7'>Read More</a><br><span id='tag7'></span></div>
								</section>
								<section class="4u"> 
									<div class="box" id='box8'>
									<h2 id='title8'></h2>
										<p id="message8"></p>
										<a href="#" class="button" id='button8'>Read More</a><br><span id='tag8'></span></div>
								</section>
								<section class="4u"> 
									<div class="box" id='box9'>
									<h2 id='title9'></h2>
										<p id="message9"></p>
										<a href="#" class="button" id='button9'>Read More</a><br><span id='tag9'></span></div>
								</section>
							</div>
							<div class="row no-collapse-1">
								<section class="4u"> 
									<div class="box" id='box10'>
									<h2 id='title10'></h2>
										<p id="message10"></p>
										<a href="#" class="button" id='button10'>Read More</a><br><span id='tag10'></span></div>
								</section>
								<section class="4u"> 
									<div class="box" id='box11'>
									<h2 id='title11'></h2>
										<p id="message11"></p>
										<a href="#" class="button" id='button11'>Read More</a><br><span id='tag11'></span></div>
								</section>
								<section class="4u"> 
									<div class="box" id='box12'>
									<h2 id='title12'></h2>
										<p id="message12"></p>
										<a href="#" class="button" id='button12'>Read More</a><br><span id='tag12'></span></div>
								</section>
							</div>
						</div>
						<center><a href='/home' style='text-decoration: none'><span id='nextpage'>Next page >></span></a></center>
					</div>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRI318_aOYM3i8I7gogIvnbaB-el_S0Xo&callback=init" async defer></script>
		<script>
		var user = "";
		$(document).ready(function() {
			var c = document.cookie;
			a = c.split(";");
			for (x = 0; x < a.length; x++) {
				if (a[x].split("=")[0] == "helpme_username") {
					user = a[x].split("=")[1];
				}
			}
			console.log(user);
			$.post("/sortedQs", {userid: JSON.stringify(user)}, function(response) {
				var qs = JSON.parse(response);

				var markers = [];
				
				for (i = 0; i < Math.min(qs.length, 12); i++) {
					console.log(qs[i]);
					
					var title = qs[i]["title"].substring(1, qs[i]["title"].length - 1);
					var latlng = {lat: parseFloat(qs[i]["latitude"]), lng: parseFloat(qs[i]["longitude"])};
					var url = "/questions/" + qs[i]["ID"];
					
					$("h2#title" + (i + 1)).html(title);
					$("h2#title" + (i + 1)).attr("style", "margin-top: -20px; margin-bottom: 20px");
					$("p#message" + (i + 1)).html(qs[i]["message"].substring(1, qs[i]["message"].length - 1));
					$("a#button" + (i + 1)).attr("href", url);
					$("a#button" + (i + 1)).attr("style", "margin-bottom: 20px");
					var html_tag = "";
					for (j = 0; j < Math.min(qs[i]["frontEndTags"].length, 4); j++) {
						html_tag += "<span class='tag'>" + qs[i]["frontEndTags"][j] + "</span>";
					}
					$("span#tag" + (i + 1)).html(html_tag);

					<!-- Adds marker to list of markers -->
					markers.push([title,latlng,url]);
					
				}

				<!-- Sends markers to JS for maps to draw markers -->
				init(markers);

				<!----------------------- ALL MAP STUFF ----------------------->

				var map;
				var x = document.getElementById("error");
				var homeImg = {
					url: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|4d79ff',
					size: new google.maps.Size(21,34),
					origin: new google.maps.Point(0,0),
					anchor: new google.maps.Point(10,34)
				};
				var homeShape = {
					coords: [0,0,21,0,21,34,0,34],
					type: 'poly'
				}
				
				<!-- Checks browser compatability with geolocation -->
				function init(markers) {
				    if (navigator.geolocation) {
				        var geo = navigator.geolocation.getCurrentPosition(function(position) {
							init2(markers, position);
					    });
				    } else { 
				        x.innerHTML = "Geolocation is not supported by this browser.";
				    }
				}

				<!-- Draws map and markers -->
				function init2(markers, position) {
					<!-- Draws map -->
					var latlng = {lat: position.coords.latitude, lng: position.coords.longitude};
						map = new google.maps.Map(document.getElementById('map'), {
						center: latlng,
						zoom: 18
			        });

					<!-- Draws marker of user's current location -->
			        myloc = new google.maps.Marker({
					    position: latlng,
					    map: map,
					    icon: homeImg,
					    animation: google.maps.Animation.DROP,
					    draggable: true
					});

					<!-- Click handler for myloc -->
			        google.maps.event.addListener(myloc, 'click', (function(myloc) {
				    	return function() {
				    		infowindow.setContent("Your current location");
				    		infowindow.open(map, myloc);
				    	}
				    })(myloc));

					<!-- Loops over list of markers -->
					var infowindow = new google.maps.InfoWindow();
					var marker, i;
					
					for (i=0; i < markers.length; i++) {
						<!-- Draws each marker -->
						console.log(markers[i][1].lat + ", " + markers[i][1].lng);
						marker = new google.maps.Marker({
						    position: new google.maps.LatLng(markers[i][1].lat, markers[i][1].lng),
						    map: map,
						    animation: google.maps.Animation.DROP,
						    draggable: true
						});

						<!-- Creates a click handler for each marker, which displays a popup window on click -->
						google.maps.event.addListener(marker, 'click', (function(marker, i) {
					    	return function() {
					    		infowindow.setContent('<a href="' + markers[i][2] + '">' + markers[i][0] + '</a>');
					    		infowindow.open(map, marker);
					    	}
					    })(marker, i));
					}
				}
				
				<!------------------- END ALL MAP STUFF ----------------------->

				for (i = qs.length + 1; i < 13; i++) {
					if ($("h2#title" + (i)).text().length == 0) {
						$("div#box" + (i)).attr("style", "display: none;");
					}
				}
			});
		});
		$("a[href='/index.html']").click(function() {
			document.cookie = "helpme_username=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
		});
		$("#profile").click(function() {
			window.location.href = "/profiles/" + user;
		});
		</script>
		<script>
			
		</script>
	</body>
</html>