<!DOCTYPE HTML>
<html>
	<head>
		<title>Help Me</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script type="text/javascript" src="js/jquery.event.drag-2.0.js"></script>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body style='background: #000 url(http://wallpapercave.com/wp/FyXmsXt.png) no-repeat fixed center center;'>
	<div id='login-background'></div>
	<div id='login-border'></div>
	<div id='login-container'>
		<center><img src='images/logo.png' id='helpme'></center>
		<div id='login'>
			<center><div id='error' style='font-size: 24px; padding: 10px;' class='hidden'><b>ERROR: Invalid username and password combination.</b></div></center>
			<input type='text' name='username' placeholder='Email' accept-charset="UTF-8" id='login-form' style='width: 500px'>
			<input type='password' name='password' placeholder='Password' accept-charset="UTF-8" id='login-form' style='width: 500px'>
			<center style='margin-top: 20px'><a href="#" id='login-submit' class="button" style='height: 40px; padding-top: 7px; margin-top: -5px;'>Log in</a>
			<a href="signup.html" class="button" style='height: 40px; padding-top: 7px; margin-top: -5px;'>Sign up</a></center>
		</div>
	</div>
	<script>
	$("#login-submit").click(function() {
		console.log("!");
		var username = $("input[name='username']").val();
		var password = $("input[name='password']").val();
		var usernameJSON = JSON.stringify(username);
		var passwordJSON = JSON.stringify(password);
		var login_object = {username: usernameJSON, password: passwordJSON};
		$.post("/login", login_object, function(response) {
			login_valid = JSON.parse(response);
			if (login_valid == true) {
				window.location.href("home.html");
			} else {
				$("#error").removeClass("hidden");
			}
		});
	});
	</script>
	</body>
</html>