<!DOCTYPE HTML>
<html>
	<head>
		<title>Help Me</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script type="text/javascript" src="js/jquery.event.drag-2.0.js"></script>
		<script type="text/javascript" src="scripts.js"></script>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body style='background: #000 url(http://wallpapercave.com/wp/FyXmsXt.png) no-repeat fixed center center;'>
	<div id='login-background'></div>
	<div id='login-border'></div>
	<div id='login-container'>
		<center><img src='images/logo.png' id='helpme'></center>
		<div id='login'>
			<form action='home.html' method='POST'>
				<input type='text' name='username' placeholder='Email' accept-charset="UTF-8" id='login-form'>
				<input type='password' name='password' placeholder='Password' accept-charset="UTF-8" id='login-form'>
				<center><input type='submit' value='Log in' style='height: 40px; margin: 20px 0 0 0; padding-top: 5px'>
				<a href="signup.html" class="button" style='height: 40px; padding-top: 7px; margin-top: -5px;'>Sign up</a></center>
			</form>
		</div>
	</div>

	</body>
</html>