<!DOCTYPE HTML>
<html>
	<head>
		<title>Help Me</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script type="text/javascript" src="js/jquery.event.drag-2.0.js"></script>
		<script src="http://localhost:4000/socket.io/socket.io.js"></script>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<script type="text/javascript" src="scripts.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
		</noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
					<a href='home.html'><div id='small-logo'></div></a>
						<nav id="nav">
							<ul>
								<li class="active"><a href="index.html">Profile</a></li>
								<li><a href='settings.html'>Settings</a></li>
								<li><a href='leaderboard.html'>Leaderboard</a></li>
								<li><a href='index.html'>Log Out</a></li>
							</ul>
						</nav>
					</div>

					<center><img src='images/fightme.png'><br>
					<span class="byline" style='font-size: 36px; margin: 10px; font-weight: bold'>Leaderboards</span><br><br>

					Filter by topic: <input type='text' name='topic' style='border: 1px black solid; width: 200px; height: 20px'><br><br>

					<div id='fightme'>
						<div class='fightme' style='border: 1px black solid'>
							<span id='rank'>Rank</span>
							<span id='name'>Username</span>
							<span id='kills'>Kills</span>
							<span id='rating'>KDR</span>
							<span id='fav'>Best Subject</span>
						</div>
						<div class='fightme'>
							<span id='rank'>1</span>
							<span id='name'>${username1}</span>
							<span id='kills'>${numAns1}</span>
							<span id='rating'>${rating1}</span>
							<span id='fav'>Computer Science</span>
						</div>
						<div class='fightme'>
							<span id='rank'>2</span>
							<span id='name'>${username2}</span>
							<span id='kills'>${numAns2}</span>
							<span id='rating'>${rating2}</span>
							<span id='fav'>Computer Science</spam>
						</div>
						<div class='fightme'>
							<span id='rank'>3</span>
							<span id='name'>${username3}</span>
							<span id='kills'>${numAns3}</span>
							<span id='rating'>${rating3}</span>
							<span id='fav'>Neuroscience</span>
						</div>
						<div class='fightme'>
							<span id='rank'>4</span>
							<span id='name'>${username4}</span>
							<span id='kills'>${numAns4}</span>
							<span id='rating'>${rating4}</span>
							<span id='fav'>Economics</span>
						</div>
						<div class='fightme'>
							<span id='rank'>5</span>
							<span id='name'>${username5}</span>
							<span id='kills'>${numAns5}</span>
							<span id='rating'>${rating5}</span>
							<span id='fav'>Biology</span>
						</div>
					</div>
					</center>

			</div>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.event.drag-2.0.js"></script>
		<script src="http://localhost:4000/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="scripts.js"></script>
	</body>
</html>