<!DOCTYPE HTML>
<html>
	<head>
		<title>Help Me</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="icon" type="image/x-icon" href="../favicon.ico">
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
					<a href='home.html'><div id='small-logo'></div></a>
						<nav id="nav">
							<ul>
								<li class="active"><a href="index.html">Profile</a></li>
								<li><a href='settings.html'>Settings</a></li>
								<li><a href='leaderboard.html'>Leaderboard</a></li>
								<li><a href='index.html'>Log Out</a></li>
							</ul>
						</nav>
					</div>

					<center><img src='../images/logo.png'><br>
					<span class="byline" style='font-size: 36px; margin: 10px; font-weight: bold'>User profile</span><br><br>

					<div id='profile'>
						<div class='profile' style='margin-bottom: 8px'>
							<span style='padding: 5px 5px 5px 5px' id='name'><b>Name:</b></span>
							<span style='padding: 5px 5px 5px 5px' id='name'>${name}</span>
						</div>
						<div class='profile' style='margin-bottom: 8px'>
							<span style='padding: 5px 5px 5px 5px' id='email'><b>Email:</b></span>
							<span style='padding: 5px 5px 5px 5px' id='email'>${email}</span>
						</div>
						<div class='profile' style='margin-bottom: 8px'>
							<span style='padding: 5px 5px 5px 5px' id='username'><b>Username:</b></span>
							<span style='padding: 5px 5px 5px 5px' id='username'>${username}</span>
						</div>
						<div class='profile' style='margin-bottom: 8px'>
							<span style='padding: 5px 5px 5px 5px' id='tags'><b>Tags:</b></span>
							<span style='padding: 5px 5px 5px 5px' id='tags'>${tags}</span>
						</div>
					</div>
					</center>

			</div>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script>
		$("a[href='/index.html']").click(function() {
			document.cookie = "helpme_username=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
		});
		</script>
	</body>
</html>