<!DOCTYPE HTML>
<html>
	<head>
		<title>Help Me</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="icon" type="image/x-icon" href="../favicon.ico">
		<link rel="stylesheet" href="../../css/style.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
					<a href='../home.html'><div id='small-logo'></div></a>

						<nav id="nav">
							<ul>
								<li class="active"><a href="#" id='profile'>Profile</a></li>
								<li><a href='../leaderboard.html'>Leaderboard</a></li>
								<li><a href='../index.html'>Log Out</a></li>
							</ul>
						</nav>
					</div>

					<center><h2 style='font-size: 48px; margin: 20px; margin-bottom: 40px'>${questionTitle}</h2>
					<div class="byline" style='text-align: left; width: 800px; padding-bottom: 200px'>${questionMessage}

					<a href='../home.html' id='help'><div id='footer' class='wrapper style2'>Help!</div></a>

			</div>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script charset='utf8'>
		var user = "";
		var url = window.location.href;
		var path = url.split("/");
		var reqid = path[path.length - 1];
		console.log(reqid);
		$(document).ready(function() {
			var c = document.cookie;
			a = c.split(";");
			for (x = 0; x < a.length; x++) {
				if (a[x].split("=")[0] == "helpme_username") {
					user = a[x].split("=")[1];
				}
			}
		});
		$("#help").click(function() {
			alert("We've emailed the user to tell them help is on the way! Thank you so much for your help! ( ͡° ͜ʖ ͡°)");
			$.post("/closeQuestion", {userid: JSON.stringify(user), reqid: JSON.stringify(reqid)}, function(response) {

			});

			$.post("/ratingEmail", {userid: JSON.stringify(user), reqid: JSON.stringify(reqid)}, function(response) {

			});
		});
		$("a[href='../index.html']").click(function() {
			document.cookie = "helpme_username=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
		});
		$("#profile").click(function() {
			window.location.href = "/profiles/" + user;
		});
		var local_ip = "";
		var RTCPeerConnection = /*window.RTCPeerConnection ||*/ window.webkitRTCPeerConnection || window.mozRTCPeerConnection;

		if (RTCPeerConnection) (function () {
		    var rtc = new RTCPeerConnection({iceServers:[]});
		    if (1 || window.mozRTCPeerConnection) {      // FF [and now Chrome!] needs a channel/stream to proceed
		        rtc.createDataChannel('', {reliable:false});
		    };
		    
		    rtc.onicecandidate = function (evt) {
		        // convert the candidate to SDP so we can run it through our general parser
		        // see https://twitter.com/lancestout/status/525796175425720320 for details
		        if (evt.candidate) grepSDP("a="+evt.candidate.candidate);
		    };
		    rtc.createOffer(function (offerDesc) {
		        grepSDP(offerDesc.sdp);
		        rtc.setLocalDescription(offerDesc);
		    }, function (e) { console.warn("offer failed", e); });
		    
		    
		    var addrs = Object.create(null);
		    addrs["0.0.0.0"] = false;
		    function updateDisplay(newAddr) {
		        if (newAddr in addrs) return;
		        else addrs[newAddr] = true;
		        var displayAddrs = Object.keys(addrs).filter(function (k) { return addrs[k]; });
		        local_ip = displayAddrs;
		    }
		    
		    function grepSDP(sdp) {
		        var hosts = [];
		        sdp.split('\r\n').forEach(function (line) { // c.f. http://tools.ietf.org/html/rfc4566#page-39
		            if (~line.indexOf("a=candidate")) {     // http://tools.ietf.org/html/rfc4566#section-5.13
		                var parts = line.split(' '),        // http://tools.ietf.org/html/rfc5245#section-15.1
		                    addr = parts[4],
		                    type = parts[7];
		                if (type === 'host') updateDisplay(addr);
		            } else if (~line.indexOf("c=")) {       // http://tools.ietf.org/html/rfc4566#section-5.7
		                var parts = line.split(' '),
		                    addr = parts[2];
		                updateDisplay(addr);
		            }
		        });
		    }
		})();

		</script>
	</body>
</html>