<!DOCTYPE HTML>
<html>
	<head>
		<title>Help Me</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div class="wrapper style1">

				<!-- Header -->
					<div id="header" class="skel-panels-fixed">
					<a href='home.html'><div id='small-logo'></div></a>
						<nav id="nav">
							<ul>
								<li class="active"><a href="#" id='profile'>Profile</a></li>
								<li><a href='leaderboard.html'>Leaderboard</a></li>
								<li><a href='index.html'>Log Out</a></li>
							</ul>
						</nav>
					</div>

					<center><h2 style='font-size: 48px; margin: 20px'>Submit your own question!</h2><br>
					<h2 style='display: none; color: black' id='error'></h2><br>
					
						<div class="row half">
							<div class="12u">
								<input class="text" type="text" name="title" id="login-form" placeholder="Question Title" style='width: 850px'/>
							</div>
						</div>
					  
						<div class="row half">
							<div class="12u">
								<textarea name="message" id="login-form" placeholder="Question" style='width: 850px'></textarea>
							</div>
						</div><br><br>
						<div style='width: 300px; position: static; left: 50%; margin-left: 0px'>
						<center><ul class="tabs-menu" style='margin-left: -350px'>
					        <li class="current"><a href="#tab-1">Math</a></li>
					        <li><a href="#tab-2">Science</a></li>
					        <li><a href="#tab-3">Humanities</a></li>
					        <li><a href="#tab-4">CS</a></li>
					        <li><a href="#tab-5">History</a></li>
					        <li><a href="#tab-6">Languages</a></li>
					    </ul></center><br><br>
					    <div class="tab" style='margin-left: -310px; text-align: left; padding: 10px; margin-top: -44px'>
					        <div id="tab-1" class="tab-content">
					            <input type='checkbox' name='topics' class='tag-checkbox' value='algebra'>Algebra<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='calculus'>Calculus<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='differential_equations'>Differential Equations<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='discrete_math'>Discrete Math<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='geometry'>Geometry<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='linear_algebra'>Linear Algebra<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='probability'>Probability<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='multivariable_calculus'>Multivariable Calculus<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='number'>Number Theory<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='set'>Set Theory<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='statistics'>Statistics<br>
					        </div>
					        <div id="tab-2" class="tab-content">
					            <input type='checkbox' name='topics' class='tag-checkbox' value='biochemistry'>Biochemistry<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='biology'>Biology<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='chemistry'>Chemistry<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='geology'>Geology<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='inorganic_chemistry'>Inorganic Chemistry<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='materials_science'>Materials Science<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='microbiobiology'>Microbiology<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='nutrition'>Nutrition<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='organic_chemistry'>Organic Chemistry<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='physics'>Physics<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='physiology'>Physiology<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='plant_biology'>Plant Biology<br>
					        </div>
					        <div id="tab-3" class="tab-content">
					            <input type='checkbox' name='topics' class='tag-checkbox' value='art'>Art<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='art_history'>Art History<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='comm'>Communication<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='dance'>Dance<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='edu'>Education<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='english'>English<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='ethnic_studies'>Ethnic Studies<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='film/theater'>Film/Theater<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='gender_studies'>Gender Studies<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='graphic_design'>Graphic Design<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='linguistics'>Linguistics<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='music'>Music<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='music_theory'>Music Theory<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='philosophy'>Philosophy<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='religious_studies'>Religious Studies<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='writing'>Writing<br>
					        </div>
					        <div id="tab-4" class="tab-content">
					            <input type='checkbox' name='topics' class='tag-checkbox' value='arduino'>Arduino<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='artificial_intelligence'>Artificial Intelligence<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='c'>C<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='c++'>C++<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='c#'>C#<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='css'>CSS<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='graphics'>Computer Graphics<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='html'>HTML<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='java'>Java<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='javascript'>Javascript<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='jquery'>jQuery<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='lisp'>Lisp<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='machine_learning'>Machine Learning<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='matlab'>MATLAB<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='perl'>Perl<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='php'>PHP<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='python'>Python<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='r'>R<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='ruby'>Ruby<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='sas'>SAS<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='scala'>Scala<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='sql'>SQL<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='stata'>Stata<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='visual_basic'>Visual Basic<br>
					        </div>
					        <div id="tab-5" class="tab-content">
					            <input type='checkbox' name='topics' class='tag-checkbox' value='african_history'>African History<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='east_asian_history'>East Asian History<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='european_history'>European History<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='social_history'>Social History<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='us_history'>US History<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='world_history'>World History<br>
					        </div>
					        <div id="tab-6" class="tab-content">
					            <input type='checkbox' name='topics' class='tag-checkbox' value='american_sign_language'>American Sign Language<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='arabic'>Arabic<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='cantonese'>Cantonese<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='dutch'>Dutch<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='french'>French<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='german'>German<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='hebrew'>Hebrew<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='hindi'>Hindi<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='italian'>Italian<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='japanese'>Japanese<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='korean'>Korean<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='latin'>Latin<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='mandarin'>Mandarin<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='portugese'>Portugese<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='russian'>Russian<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='spanish'>Spanish<br>
					            <input type='checkbox' name='topics' class='tag-checkbox' value='swahili'>Swahili<br>
					        </div>
					    </div>
					    </div><br>
					    <center style='margin-left: -50px'><a href="#" id='q_submit' class="button" style='height: 20px; padding-top: 7px; margin-top: -5px; margin-bottom: 50px;'>Submit question!</a></center>
						<div class="row half">

							<div class="12u">

								<ul class="actions">
									<li>
										
									</li>
								</ul>

						</div>
					</div>
					</form></center>

			</div>
		</div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script>
		var user = "";
		var latitude = 0;
		var longitude = 0;
		$(document).ready(function() {
			var c = document.cookie;
			a = c.split(";");
			for (x = 0; x < a.length; x++) {
				if (a[x].split("=")[0].replace(/\s/g, '') == "helpme_username") {
					user = a[x].split("=")[1];
				}
			}
			if (user.length == 0) {
				window.location.href = "/index.html";
			}
		});
		$(document).ready(function() {
		    $(".tabs-menu a").click(function(event) {
		        event.preventDefault();
		        $(this).parent().addClass("current");
		        $(this).parent().siblings().removeClass("current");
		        var tab = $(this).attr("href");
		        $(".tab-content").not(tab).css("display", "none");
		        $(tab).fadeIn();
		    });
		});
		function init() {
		    if (navigator.geolocation) {
		        var geo = navigator.geolocation.getCurrentPosition(showPosition);
		    } else { 
		        x.innerHTML = "Geolocation is not supported by this browser.";
		    }
		}

		function showPosition(position) {
			var lat = position.coords.latitude;
			var lng = position.coords.longitude;
			latitude = lat;
			longitude = lng;
		}
		$("#q_submit").click(function() {
			var ok_input = true;
			var favorite = [];
			$.each($("input[name='topics']:checked"), function(){
				favorite.push($(this).val());
			});
			console.log(favorite)
			var title = $("input[name='title']").val();
			if (title.length <= 0) {
				$("#error").html("ERROR: You need a title.");
				$("#error").attr("style", "display: block; color: black;");
				ok_input = false;
			}
			if (title.length > 500) {
				$("#error").html("ERROR: Title is too long.");
				$("#error").attr("style", "display: block; color: black;");
				ok_input = false;
			}
			var message = $("textarea[name='message']").val();
			if (message.length <= 0) {
				$("#error").html("ERROR: You need question text.");
				$("#error").attr("style", "display: block; color: black;");
				ok_input = false;
			}
			if (message.length > 10000) {
				$("#error").html("ERROR: Question text is too long.");
				$("#error").attr("style", "display: block; color: black;");
				ok_input = false;
			}
			if (favorite.length == 0) {
				$("#error").html("ERROR: You must have tags.");
				$("#error").attr("style", "display: block; color: black;")
				ok_input = false;
			}
			if (ok_input) {
				var titleJSON = JSON.stringify(title);
				var messageJSON = JSON.stringify(message);
				var topicsJSON = JSON.stringify(favorite);
				var userInput = {title: titleJSON, message: messageJSON, topics: topicsJSON, userid: JSON.stringify(user), lat: JSON.stringify(latitude), lng: JSON.stringify(longitude)};

				$.post("/insertQ", userInput, function(response) {
					console.log(user);
					login_valid = JSON.parse(response);
					// if (login_valid == true) {
					// 	// window.location.href = "/q.html";
					// } else {
					// 	$("b").html("ERROR: User already exists");
					// }
				});

				window.location.href = '/home.html';
			}
			
			
		});

		$("input[name='tags']").keyup(function(event) {
	    	// console.log($("input[name='name']").val())


	    	// Parameters we will need to calculate our suggestions.
		    var postParameters = {input: $("input[name='tags']").val(), userid: user};
		    // console.log(postParameters)
		    // console.log(document.getElementById('searchbar_donor').value)


		    // POST requenst for suggestion words.
		    $.post("/suggest", postParameters, function(responseJSON){

		        var suggestions = [];
		        responseObject = JSON.parse(responseJSON);
		        suggestions = responseObject.suggestions;
		        // console.log(suggestions);

		        // fill the dropdown box.
		        for (var i = 1; i < 6; i++) {
		            var istring = "#" + i.toString();
		            if (typeof suggestions[i - 1] === 'undefined') {
		                $(istring).text("");
		            }
		            $(istring).text(suggestions[i - 1])
		        };

		    });
		});
		$("#profile").click(function() {
			window.location.href = "/profiles/" + user;
		});
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRI318_aOYM3i8I7gogIvnbaB-el_S0Xo&callback=init" async defer></script>
	</body>
</html>